.filter-btn {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-bg-button);
    font-size: 16px;
    cursor: pointer;
}