@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-bg-primary: #C2C2C2;
  --color-bg-secondary: #FFF;
  --color-bg-header: #55BC04;
  --color-font-primary: #FFF;
  --color-font-input: #C2C2C2;
  --color-border-input: #C2C2C2;
  ---color-bg-button: #55BC04;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

html,
body {
  background-color: var(--color-bg-primary);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/*-----------------------------------------------------------------*/
/* generic styles */

.ft-wt-bd {
  font-weight: 500;
  color: var(--color-font-primary);
}